* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

.Board {
  background-image: url("tutoriala.jpg");
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; /* Don't know why, but this makes it wrap around the content */
  border: 1px solid black;
  width: 99.9%;
  height: auto;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}

.BoardLeftSide {
  position: relative;
  float: left;
  padding: 5px;
  background-color: aqua;
  width: 10%;
  height: 600px;
}

.CardRows {
  position: relative;
  float: left;
  width: 80%;
  height: 90%;
  overflow: hidden;
}

.ActivityCardRow {
  position: relative;
  width: 100%;
  border: 3px solid red;
  overflow: hidden;
}

.InteractionCardRow {
  position: relative;
  width: 100%;
  border: 3px solid red;
  overflow: hidden;
}

.EnhancedCardRow {
  position: relative;
  width: 100%;
  border: 3px solid red;
  overflow: hidden;
}