* {
  box-sizing: border-box;
  /* font-size: 25px; */
}

.Board {
  background-image: url("tutoriala.jpg");
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; /* Don't know why, but this makes it wrap around the content */
  border: 1px solid black;
  width: 100%;
  height: auto;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}

.BoardMenu {
  /* position: relative; */
  /* float: left; */
  padding: 5px;
  background-color: #333;
  color: #fff;
  opacity: .95;
  width: 100%;
  height: 80px;
  font-size: 20px;
}

.CardRow {
  position: relative;
  float: left;
  width: 100%;
  height: 90%;
  border: 3px solid red;
  overflow: hidden;
}

.Card {
  position: relative;
  width: 10%;
}